div.topbar {
	width: 100%;
	height: 60px;
	background-color: #BEBFCD;
}
img.topbarimg {
	width: 50px;
	height: 50px;
}
div.topbarinner {
	width: 900px;
	margin: auto;
}
div.topbarspan {
	margin-left: 60px;
	margin-top: -40px;
}
span.topbarspan {
	font-family: "Î¢ÈíÑÅºÚ", "»ªÎÄÏ¸ºÚ";
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
}
div.timer {
	margin-left: 380px;
	margin-top: -23px;
}
span.timer {
	font-family: "Î¢ÈíÑÅºÚ", "»ªÎÄÏ¸ºÚ";
	font-size: 18px;
	font-weight: 600;
	color: #EBEFF1;
}
div.user {
	margin-left: 610px;
	margin-top: -25px;
}
span.user {
	font-family: "Î¢ÈíÑÅºÚ", "»ªÎÄÏ¸ºÚ";
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
}

div.navigation {
	background-color: #1296DB;
	margin-bottom: 50px;
}
img.navigation {
	width: 35px;
	height: 35px;
	float: left;
	margin-left: 15px;
}
table.navigation {
	width: 600px;
	height: 40px;
	margin: auto;
	padding: 0px;
}
tr.navigation {
	height: 40px;
}
td.navigation {
    text-align: left;
    width: 150px;
    border-radius: 5px;
    position: relative;
}
span.navigation {
	font-family: "Î¢ÈíÑÅºÚ", "»ªÎÄÏ¸ºÚ";
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 35px;
}
div.navigationPointer {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	margin-top: -37px;
	border-radius: 5px;
	cursor: pointer;
}

div.bottombar {
	width: 100%;
	background-color: #7E84F3;
}

span.copyright {
	font-family: "SFS", "Arial", "sans-serif";
	font-size: 14px;
	color: #FFFFFF;
}

div.cr_one {
	width: 100%;
	text-align: center;
}
div.cr_two {
	width: 410px;
	margin: auto;
	margin-top: 3px;
}

table {
	width: 100%;
	border: none;
}
tr{
	height: auto;
}
td {
	text-align: center;
}

span.linker {
	font-family: "Î¢ÈíÑÅºÚ", "»ªÎÄÏ¸ºÚ";
	font-size: 12px;
	color: #FFFFFF;
}